# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\itayg\OneDrive\Desktop\Programming Projects\cp\CouponSpring\18-11 FINAL\CouponSpring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
